* {
  padding: 0;
  margin: 0;
}

.firstSection {
  display: flex;
  flex-direction: column;
  background-color: #2a3546;
  height: auto;
}

.topRow {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.topRow h4 {
  margin-right: auto;
  margin-left: 200px;
  color: white;
  font-weight: bolder;
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.topRow .linkThree {
  margin-right: 230px;
}

.topRow h5 {
  padding-right: 20px;
  color: rgb(202, 200, 200);
  font-size: 18px;
}

.wrapMainContent {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 55px;
}

.mainContent h2 {
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1;
  font-size: 48px;
  margin-right: 350px;
}

.mainContent p {
  color: rgb(224, 224, 224);
  margin-top: 3px;
}

.mainContent button {
  width: 90px;
  height: 30px;
  background-color: #3882f6;
  color: white;
  margin-top: 5px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
}

.imageSection {
  margin-right: 100px;
}

.secondSection {
  margin-top: 40px;
}

.headerTwo {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bolder;
  color: #1f2937;
}

.picAndInfo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
  margin-bottom: 75px;
  text-align: center;
}

.thirdSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0dddd;
  height: 250px;
}

.quoteContainer h3 {
  font-size: 25px;
  font-style: italic;
  color: #1f2937;
}

.quoteContainer h4 {
  display: flex;
  justify-content: flex-end;
}

.fourthSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.storeAd {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 800px;
  height: 100px;
  background-color: #1da1f2;
}

.storeText h4 {
  color: white;
  font-weight: bolder;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.storeText p {
  color: rgb(224, 223, 223);
}

.sign-up {
  width: 90px;
  height: 30px;
  background-color: transparent;
  font-weight: bolder;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}

button {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #2a3546;
  height: 80px;
}
